﻿<input id="formed_array" type="hidden" />
<input id="selected_numbers" type="hidden" />
<div style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <label class="col-3">Выберите длину массива</label>
            <div class="col-2">
                <input id="array_dimension" class="form-control form-control-sm input-sm field_input_data" type="number" onkeypress="checkNumber()">
            </div>
            <button type="button" class="btn btn-sm btn-info btn-confirm col-1" onclick="arrayFormation()">Ввод</button>
            <div id="selected_array_dimension_error" class="col-12" style="color: darkred"></div>
        </div>

        <div id="show_array" class="mt-4 mb-4"></div>

        <div id="check_block" class="row" style="display: none">
            <label class="col-3">Введите число</label>
            <div class="col-2">
                <input id="check_number" class="form-control form-control-sm input-sm field_input_data" type="number" onkeypress="checkNumber()">

            </div>
            <button type="button" class="btn btn-sm btn-info btn-confirm col-1" onclick="getTestResult()">Ввод</button>
            <div id="selected_check_number_error" class="col-12" style="color: darkred"></div>
        </div>

        <div id="test_result" class="mt-4 mb-4"></div>
    </div>
</div>



